@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}
body{
  background-image: linear-gradient(to right,#071a5a,#000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.d{
  text-decoration: none;
  color: white;
}
.container{
  background-image: 
  linear-gradient(to right , #135683 , #0000005b), url(4.png);
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  width: 90%;
  height: 650px;
}
.container:hover{
  background-image: 
  linear-gradient(to right , #135683 , transparent 60%), url(4.png);
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 15px;
}
.logo{
  font-size: 40px;
  text-transform: uppercase;
}
.logo:hover{
  color: #17b7f7;
  text-shadow: 0 0 50px wheat;
}
ul{
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 2px 60px;
}
ul a{
  border-bottom: solid 2px transparent;
  transition: 0.5s;
}
ul a:hover{
  border-bottom: solid 2px #17b7f7;
  color: #17b7f7;
  font-size: 20px;
}
.activ{
  border-bottom: solid 2px #17b7f7;
  color: #17b7f7;
  font-size: 20px;
}
.content{
  padding: 5px;
  margin-top: 60px;
  margin-left: 40px;
  width: 50%;
}
h1{
  color: white;
  font-size: 100px;
  text-transform: uppercase;
}
p{
  color: white;
  line-height: 25px;
  letter-spacing: 2px;
  width: 480px;
  transition: 0.5s;
  padding: 20px 0;
}
p:hover{
  color: #17b7f7;
}
a.hire{
  text-decoration: none;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 8px 20px;
  margin-left: 12px;
  font-size: 20px;
  cursor: pointer;
  border: solid 2px transparent;
  transition: 800ms;
}
a.hire:hover{
  border-color: #17b7f7;
  color: #17b7f7;  
  background-color: transparent;
  font-size: 22px;
}
.links{
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 30px
}
.links a{
  font-size: 30px;
  border: solid 2px white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.5s;
}
.links a:hover{
  border-color: #17b7f7;
  background: #17b7f7;
  font-size: 35px;
  box-shadow: 0 0 10px #17b7f7;
}
@media (max-width: 600px){
  h1{
    font-size: 40px;
  }
  p{
    font-size: 12px;
    width: 220px;
  }
  .logo{
    font-size: 35px;
  }
  ul{
    gap: 15px;
  }
  .container{
    background-position: center;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  h1{
    font-size: 40px;
  }
  p{
    font-size: 12px;
    width: 220px;
  }
  .logo{
    font-size: 35px;
  }
  ul{
    gap: 15px;
  }
  .container{
    background-position: center;
  }
}
@media (min-width: 900px) and (max-width: 1400px) {
  h1{
    font-size: 60px;
  }
  p{
    font-size: 15px;
    width: 280px;
  }
  .logo{
    font-size: 45px;
  }
  ul{
    gap: 19px;
  }
  .container{
    background-position: left;
  }
}
@media (min-width: 1400px){
  .container{
    background-image: 
    linear-gradient(to right , #135683 , #0000005b), url(4.png);
    background-size: cover;
    background-position: center right;
  }  
  .container:hover{
    background-image: 
    linear-gradient(to right , #135683 , transparent 60%), url(4.png);
  }
}