@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}
body{
  background-image: linear-gradient(to right,#071a5a,#000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-image: 
  linear-gradient(to right , #135683 , #0000005b);
  background-position: center;
  border-radius: 13px;
  width: 90%;
  height: 650px;
}
h1{
    height: 90%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px;
}
h1 span:hover{
    color: #17b7f7;
}